<%- include('header') -%>

<h2>This is the about page</h2>

<p>Lorem ipsum dolor, sit amet consectetur adipisicing elit. Nam rem alias vero in rerum voluptatibus, suscipit perspiciatis ratione, voluptate neque iure dolorem culpa ut dignissimos ex deleniti quia repellendus voluptatem.</p>

<%- include('footer') -%>