<footer class="text-center">
    <p class="p-5 font-extralight text-sm text-black">&copy; <a href="https://samuelogboru.vercel.app/" target="_blank" rel="noopener noreferrer">Samuel Ogboru. 2024</a></p>
</footer>
</main>
<script src="../js/script.js"></script>
</body>
</html>
